*{
	padding: 0;
	margin: 0;
	text-decoration:none;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	color:#000;
	-webkit-appearance:none;
}
body{
	background-color: #ffffff;
}
#map{
	width: 100%;
	height: 100%;
}
.taiwan{
 	border: solid 1px red;
	color: white;
	font-size:10px;
	background-color: rgba(255,0,0,0.5);
	display: inline-block;
}
.amap-simple-marker-label{
	color:white;
}
.wel_top1{
	height:50px;
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	z-index: 10;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
  border-bottom: 1px solid #044e97;
  border-top: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
}
.wel_top1_left{
	float:left;
	margin-left: 20px;
	line-height: 50px;
	color:#fff;
	font-size: 25px;
	font-weight: bold;
}
.wel_top1_right1,.wel_top1_right{
	float:right;
	margin-right: 20px;
	line-height: 50px;
	color:#fff;
	font-size: 15px;
}
.sidebar{
	width: 150px;
	position: fixed;
	top: 0;
	right: -250px;
	height: 100%;
	z-index: 12000;
	background-color: #e7e7e7;
	transition: right 0.5s;
	overflow: auto;
}
.topbar{
	top:0;
	left:0;
	width:100%;
	height:50px;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
  border-bottom: 1px solid #044e97;
  border-top: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
}
.top-centrer{
	text-align: center;
	color:#fff;
	line-height: 50px;
	font-size: 18px;
}
.top-left{
	position: absolute;
	left: 0;
	top:0;
	height:50px;
	width:50px;
}
.glyphicon {
  line-height: 1;
  color: white;
  font-size: 20;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 13px;
  padding-left: 10px;
}
.panel-body{
	padding:0;
}
.list-group{
	margin: 0;
}
.info {
    border: solid 1px silver;
    border-radius: 5px;
}
div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size: 12px;
    padding: 6px;
    line-height: 20px;
}
div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img {
    position: relative;
    z-index: 104;
}
span {
    margin-left: 5px;
    font-size: 11px;
}
.info-middle img {
    float: left;
    margin-right: 6px;
}
.infoleft{
	float: left;
	width:50%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #CCC;
	background: none repeat scroll 0 0 #F9F9F9;
}
.inforight{
	float: right;
	width:50%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	background: none repeat scroll 0 0 #F9F9F9;
}
.btnLeft {
	float: left;
}
.btnRight {
	float: right;
}
::-webkit-scrollbar{
  display:none;
}
.loading {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	margin: auto;
	background: url(https://res.cloudinary.com/dnfhsjz8u/image/upload/v1503192215/Rolling_o7dnbb.gif)
}